<nav>
    <ul>
        <li class="selected">热门</li>
        <li>男装</li>
        <li>女装</li>
        <li>儿童</li>
        <li>鞋履</li>
        <li>箱包</li>
        <li>配饰</li>
    </ul>
</nav>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><a href="###"><img src="http://img.banggo.com/sources/cms/20160914-wx/misu.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href="###"><img src="http://img.banggo.com/sources/cms/20160914-wx/fhgs.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href="###"><img src="http://img.banggo.com/sources/cms/20160905/mango.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href="###"><img src="http://img.banggo.com/sources/cms/20160914-wx/bjj.jpg" alt=""></a></div>
        <div class= "swiper-slide"><a href="###"><img src="http://img.banggo.com/sources/cms/20160914-wx/qpl.jpg" alt=""></a></div>
    </div>
    <div class="swiper-pagination"></div>
</div>
<div class="hotBrand">
    <p>热门品牌</p>
    <div>
        <ul class="hotBrandWrap">
            <li><a href="###"><img src="http://img.banggo.com/sources/cms/APP/71030aprm_01.jpg" alt=""></a></li>
            <li><a href="###"><img src="http://img.banggo.com/sources/cms/APP/71030aprm_02.jpg" alt=""></a></li>
            <li><a href="###"><img src="http://img.banggo.com/sources/cms/APP/71030aprm_04.jpg" alt=""></a></li>
            <li><a href="###"><img src="http://img.banggo.com/sources/cms/APP/71030aprm_05.jpg" alt=""></a></li>
            <li><a href="###"><img src="http://img.banggo.com/sources/cms/banggo2017/APP/20180129/a_ppmlqs.jpg" alt=""></a></li>
        </ul>
    </div>
</div>
<div class="brandList">
    <p>品牌列表</p>
    <dl>
        
    </dl>
</div>
