<nav class="brand">
    <ul>
        <li c_id="492" class="selected">热门</li>
        <li c_id="498">男装</li>
        <li c_id="474">女装</li>
        <li c_id="476">儿童</li>
        <li c_id="486">鞋履</li>
        <li c_id="480">箱包</li>
        <li c_id="763">配饰</li>
    </ul>
</nav>
<!-- 品牌页面 -->
<div class="brand_content"></div>
<!-- 热门页面 -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><a href="###"><img src="http://img.banggo.com/sources/cms/20160914-wx/misu.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href="###"><img src="http://img.banggo.com/sources/cms/20160914-wx/fhgs.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href="###"><img src="http://img.banggo.com/sources/cms/20160905/mango.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href="###"><img src="http://img.banggo.com/sources/cms/20160914-wx/bjj.jpg" alt=""></a></div>
        <div class= "swiper-slide"><a href="###"><img src="http://img.banggo.com/sources/cms/20160914-wx/qpl.jpg" alt=""></a></div>
    </div>
    <div class="swiper-pagination"></div>
</div>
<div class="hotBrand">
    <p>热门品牌</p>
    <div>
        <ul class="hotBrandWrap">
            <li><a href="###"><img src="http://img.banggo.com/sources/cms/APP/71030aprm_01.jpg" alt=""></a></li>
            <li><a href="###"><img src="http://img.banggo.com/sources/cms/APP/71030aprm_02.jpg" alt=""></a></li>
            <li><a href="###"><img src="http://img.banggo.com/sources/cms/APP/71030aprm_04.jpg" alt=""></a></li>
            <li><a href="###"><img src="http://img.banggo.com/sources/cms/APP/71030aprm_05.jpg" alt=""></a></li>
            <li><a href="###"><img src="http://img.banggo.com/sources/cms/banggo2017/APP/20180129/a_ppmlqs.jpg" alt=""></a></li>
        </ul>
    </div>
</div>
<div class="brandList">
    <p>品牌列表</p>
    <dl>
        
    </dl>
</div>

