<header>
    <ul>
        <li class="selected" id="classify"><a href="###">分类</a></li>
        <li><a href="###" id="brand">品牌</a></li>
    </ul>
    <i>&#xe64d;</i>
</header>
<main>
    <nav class="classify">
        <ul>
            <li c_id="492" class="selected">热门</li>
            <li c_id="498">男装</li>
            <li c_id="474">女装</li>
            <li c_id="476">儿童</li>
            <li c_id="486">鞋履</li>
            <li c_id="480">箱包</li>
            <li c_id="763">配饰</li>
        </ul>
    </nav>
    <div class="right_content">
        
    </div>
    
</main>