
html,body{
  overflow: hidden;
  height: 100%;
  font-size: 6.25vw;
}
#root {
    height: 100%;
  }
  
@font-face {
  font-family: 'iconfont';
  src:
    url('/iconfonts/iconfont.woff') format('woff'),
    url('/iconfonts/iconfont.ttf') format('truetype'),
    url('/iconfonts/iconfont.svg') format('svg');
}
// 每个热门品牌的共用样式
@mixin each_brand{
  height: 16rem;
  width: 100%;
  background: white;
  .title{
    a{
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  img{
    width: 100%;
    height: 4.5rem;

  }
  ul{
    @include flexbox();
    width: 16rem;
    flex: 1;
    flex-wrap: wrap;
    li{
      width: 25%;
      height: 4.5rem; 
      a{
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
a{
  color: black;
}
// ------商品页每个模块的标题
@mixin list_subtitle{
    p{
      border-left: .1rem solid #f84646;
      line-height: 1.25rem;
      padding-left: 5%;
      color: #000;
      height: 1.25rem;
      font-size: .7rem;
      &:nth-of-type(1){
        display: none;
      }
    }
    span{
      a{
        display: inline-block;
        width: 100%;
        img{
            width: 10.5rem;
            height: 3.75rem;
        }
      
      }
      &:nth-of-type(2){
        display: none;
      }
      &:nth-of-type(3){
        display: none;
      }
      &:nth-of-type(4){
        display: none;
      }
    }
    ul{
      padding-top: .5rem;
      width: 100%;
      height: auto;
      overflow: hidden;
      @include flexbox();
      flex-direction: row;
      flex-wrap: wrap;
      li{
          padding-right: .15rem;
          a{
              @include flexbox();
              flex-direction: column;
              img{
                  width: 3.4rem;
                  height: 3.4rem;
              }
              span{
                  line-height: 1.5rem;
                  text-align: center;
                  color: #848484;
                  font-size: .6rem;
              }
          }
      }
    }
  }
// 品牌页标题
@mixin brand_title{
  width: 100%;
  font-size: .6rem;
  font-weight: 700;
  padding: .5rem;
}